	body {
		font-family: Helvetica, Arial, sans-serif;
		background-image: url("bg-prie.jpg");
		background-repeat:repeat;
		background-position:center;
		
	}

	#authentification{
		padding-left: 20px;
		padding-right: 20px;
		padding-top:-10px;
		padding-bottom:15px;
		/*margin:auto;*/
		border:0px solid black;
		width:480px;
		height:540px;
		margin-top:100px;
		background-color:darkgray;
		border-radius: 0px;

		/*background: url("fondlogin.png") no-repeat center;*/
		background-image: url("fond1.png");
		background-repeat:no-repeat;
		background-position:bottom;
	}
	
	.entete-login{
		border:0px solid black;
		font-size:x-large;
		color: black;
		display:inline-block;
		font-family:georgia ;
		margin-left: 35px;
	}
	.logo-login{
		border:0px solid black;
		background-color: white;
		margin-left: 30px;
	}
	
	#checkbox{
		visibility:hidden;
	}

	.center-vertical{
		position:relative;
		top:0px;
		left:0px;
		display:table;
		width: 100%;
		height: 100%;

	}

	.center-vertical .center-content{
		display:table-cell;
		vertical-align: middle;
	}