

.active-menu {
    background-color:#CD041C!important;
}

.menu-pub{
   margin-left:-50px;
 }
 
.menu-pub ul li {
 
	border-bottom:1px solid black;
	display:block;
	height:30px;
	padding-left:10px;
	padding-right:10px;
	padding-top:5px;
	width:250px;
	text-align:center;
	font-size:13px;
	
 }

.menu-pub  a
{
	color:black;
}
.menu-pub li:hover
{
	background-color:#CD041C; /*#e30017;*/
	color:#ffffff;
	font-weight:bold;
}